.main-header { 
  margin-top: 10rem;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 700;
  position: relative;
}

.main-header::after { 
  content: '';
  height: 0.2rem;
  width: 55rem;
  background-color: black;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 5rem;
}

.showcase { 
  max-width: 85%;
  margin: 5rem auto;
}
.card { 
  margin: 2.5rem;
  box-shadow: 2px 3px 8px 1px rgba(0,0,0,0.6);
  display: flex;
}

.card img { 
  width: 200px;
  height: 133px;
}

.text { 
  width: 100%;
  position: relative;
  overflow: hidden;
}

.text h3 { 
  margin: 2rem;
  text-align:center;
  font-size: 1.5rem;
}

.text p { 
  margin: 1rem;
}

.text a { 
  position: absolute; 
  bottom: 0;
  right: 0;
  margin: 1rem;
}
